<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for article in articles %}
<h1>{{article.title}}</h1>
<img src="{{article.thumbnail.url}}">
<div class="contentDiv">
<div class="hiddenDiv" id="hiddendiv" >{{article.content}}</div>
    <div class="showingDiv">

    </div>
</div>
<!--<div id="content" onload="parser(this, {{article.content|linebreaks}});"></div>-->
<div class="comment" id="c{{article.aid}}"></div>
<form class="myForm" method="post">
            {% csrf_token %}
            <input type="text" placeholder="comment" required>
            <input type="hidden" class="aId" value="{{article.aid}}">
            <input type="submit" value="Submit">
</form>

<h5>{{article.author.user.username}}</h5>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
  $( ".hiddenDiv" ).each(function() {
  console.log($( this ).text());
  console.log(marked($( this ).text()));
  $( this ).html(marked($( this ).text()));
});
  </script>
<script>
   $('.myForm').submit(function(e) {
   e.preventDefault();
  var values = $(this).find("input:text").val();
<!--  var commentbox = document.getElementById('c'+$(this).find('.aId').val());-->
  console.log($(this).find('.aId').val());
  var uid = '#c'+$(this).find('.aId').val()

  console.log(values);


  $.ajax({
        type: 'POST',
        url: '{% url 'comment' %}',
        data: {
                    'comment':values,
                    'uid':uid
        },
        dataType: 'json',
        success: function (data) {
          if (data.status) {
            $(uid).append('<p>'+values+'</p>');
          }
        }
      });
});

$.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i <
                            cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) ||
                        /^https:.*/.test(settings.url))) { // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        }); //now put normal ajax request </body>


</script>

     <script>

    </script>


</body>
</html>